<%- include('../layouts/header.ejs') -%>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
      <a class="navbar-brand mx-auto  " id="sahal" href="#">Admin </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-dark rounded-pill me-4" href="/admin/logout" id="loggo">Logout</a>
        </li>
      </ul>
    </div>

   
  </nav>
  
  
  <div class="d-flex align-items-center justify-content-center my-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by Name" style="width: 300px;">
  </div>
  
<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table id="userTable" class="table table-striped text-center t-1 tab">
          <thead>
            <tr class="table-dark">
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% if (Array.isArray(users) && users.length > 0) { %>
              <% users.map(function(s,index) { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= s.name %></td>
                  <td><%= s.email %></td>
                  <td><%= s.mobile %></td>
                  <td>
                    <a href="/admin/edit-user?id=<%= s._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                    <a href="/admin/delete-user?id=<%= s._id %>" onclick="return confirm('Are You sure to delete  <%= s.name %>')" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                   
                  </td>
                </tr>
              <% }); %>
            <% } else { %>
              <tr>
                <td colspan="5">No users available</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center">
  <a class="btn btn-dark rounded-pill me-4 pt-3 pb-3 ps-3"  href="/admin/new-user" id="loggo" style="letter-spacing: 3px; padding-right: 20px; padding-left: 20px;">Add New User</a>
  
</div>

<%- include('../layouts/footer.ejs') -%>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let searchInput=document.getElementById('searchInput');

    searchInput.addEventListener('keyup', function () {
      let searchTerm=searchInput.value.toLowerCase();
      let tableRows=document.querySelectorAll('#userTable tbody tr');

      tableRows.forEach(function (row) {
        let nameColumn=row.querySelector('td:nth-child(2) '); // Adjust the index based on your table structure

        if (nameColumn) {
          let nameText=nameColumn.textContent.toLowerCase();
          row.style.display=nameText.includes(searchTerm) ? '' : 'none';
        }
      });
    });
  });
</script>
